figure {
  text-align: center;
}

.tags {
  ul { margin: 0 auto; }
  li {
    display: inline-block;
    margin: 10px 5px;
    a {
      border: 1px #aaa;
      background-color: #eee;
      color: #666;
      text-decoration: none;
      padding: 5px;
    }
  }
}
